body{
	background-color: 
	padding-top: 40px;
}
.col-lg-4 h4{
	text-align: center;
} 
#orEmail {
	text-align: left;
	padding-bottom: 10px;
}
#logo{
	padding-bottom: 30px;
	padding-top: 40px;
	display: block;
    margin-left: auto;
    margin-right: auto }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
 }
#video{
	display: block;
    margin-left: auto;
    margin-right: auto }
}